
@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Bold.ttf);
    font-weight: bold;
  }
  @font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
    font-weight: normal;
  }
  @font-face {
    font-family: euro;
    src: url(fonts/eurof55.ttf);
    font-weight: normal;
  }
@font-face {
  font-family: Champagne_Limousines ;
  src: url(fonts/Champagne_Limousines.ttf);
  font-weight: normal;
}}
