.logo {
    font-family: euro;
    color:white;
    font-size: 40px;

}

.logo span {
    color: var(--link-hover-color)
    
}
header {
    background: #292929;
    height: var(--header-height);
    border-bottom: 6px solid #1e1e1e;
    box-sizing: border-box;
}

header .container {
    align-items: center;
    height:100%;
}

.main-nav {
    justify-content: space-between;
    align-items: center;
    height:100%;
    color: #ffffff;
    
    
}

ul.flex {
    width:560px;
    justify-content: space-between;
    height:100%;
    align-items: center;
}

ul.flex li {
    font-size:16px;
    align-items: center;
    justify-content:center;
    box-sizing: border-box;
    padding: 0px;
    height:100%;
    width:100%;
    border:1px solid #1d1d1d;
    transition: all 0.2s;
    font-weight:bold;
    border-right:none;
}
ul.flex li:last-child {
    border:1px solid #1d1d1d;
}

ul.flex li:hover {
    color: var(--link-hover-color)
}

.nav-responsive-toggle {
    display:none;
}

ul.flex li:after {
    visibility: hidden;
    display: block;
    width:0;
    content: "";
    background: var(--link-hover-color);
    position: absolute;
    top: 124px;
    transition: all 0.4s
  
}
ul.flex li:hover:after {
    visibility: visible;
    height:6px;
    width: var(--header-height);
}
/* Collapse nav on small screens +javascript */
@media (max-width: 650px) {
    .full-height {
        height:100vh;
    }
    .main-nav ul:last-of-type li {
        display: flex;
        background: #292929;
        height: 20%;
    }
    .main-nav ul:last-of-type.nav-hidden {
        display: none;
    }
    .main-nav ul:last-of-type {
        display: block;
        background: #292929;
        z-index: 99999;
    }
    .main-nav ul:first-child {
        padding: 2em;  
    }
    .nav-responsive-toggle {
        display: inline;
        cursor: pointer;
    }
    nav {
        display:flex;
        flex-direction: column;
    }
    header {
        transition: height ease-in-out 0.5s
    }
    ul.flex li:hover:after {
        visibility: hidden
    }
}