.posts-navigation  {
    justify-content: space-between;
    flex-direction: row-reverse;
    color : var(--post-preview-button-color);
    font-family: Champagne_Limousines;
    font-size: 18pt;
    padding: 25px 30px;
    box-sizing: border-box;
    border-top:1px solid var(--border-color)
}